<div>
    <label for="pagename">Page Name/Slug:</label>
    <input type="text" id="pagename" name="pagename" <% if(typeof(values)!='undefined'){%>value="<%= values.pageName %>" <%}%> >
</div>
<div>
    <label for="title">Article Title:</label>
    <input type="text" id="articleTitle" name="articleTitle" <% if(typeof(values)!='undefined'){%>value="<%= values.title %>" <%}%>>
</div>
<div>
    <!-- Seems to be a security thing/limitation of html. Can't set a value for file uploading-->
    <label for="Image">Upload an image</label>
    <input type="file" accept="image/*" id="Image" name="Image">
</div>

<div style="margin-left:0;">
    <textarea id="htmlcontent"  name="htmlcontent" > <% if(typeof(values)!='undefined'){%><%= values.html %> <%}%> </textarea>
    <input type="submit" value="Save">
</div>