<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pages</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tiny.cloud/1/pjhv6b272ctrjq90csxbmsy1fxqv4trr1w459senwahhyoyr/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <form action="/edit" method="post" name="edit-form" >
        <label for="pagename">Page Name:</label>
        <input type="text" id="pagename" name="pagename">
        <label for="title">Article Title:</label>
        <input type="text" id="articleTitle" name="articleTitle">
        <textarea id="htmlcontent" name="htmlcontent"></textarea>
        <input type="submit" value="Save">
    </form>
    
    <footer>
        <p>&copy; Copyright 2023. Jeffrey Smith</p>
    </footer>
    <script>
        tinymce.init({selector: 'textarea', 
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline striketrhough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap'});
    </script>
</body>
</html>