<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Pages</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.tiny.cloud/1/pjhv6b272ctrjq90csxbmsy1fxqv4trr1w459senwahhyoyr/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <div class="page-container">
        <div class="container">
            <form action="/edit" method="post" name="edit-form" enctype="multipart/form-data">
                <div>
                    <label for="pagename">Page Name:</label>
                    <input type="text" id="pagename" name="pagename" required>
                </div>
                <div>
                    <label for="title">Article Title:</label>
                    <input type="text" id="articleTitle" name="articleTitle">
                </div>
                <div>
                    <label>Upload an image:</label>
                    <input type="file" id="Image" name="Image">
                </div>
                
                <div style="margin-bottom:20px;">
                    <textarea id="htmlcontent" accept="image/*" name="htmlcontent"></textarea>
                    <input type="submit" value="Save">
                </div>
            </form>
        </div>
            
    </div>
    <footer>
        <p>&copy; Copyright 2023. Jeffrey Smith</p>
    </footer>
    
    <script>
        tinymce.init({selector: 'textarea', 
    plugins: 'anchor autolink charmap image link lists media searchreplace table  wordcount',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline striketrhough | link table | numlist bullist indent outdent '});
    </script>
</body>

</html>